In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
versoes = {'Pandas':pd.__version__, 'Numpy':np.__version__, 'Seaborn':sns.__version__}
versoes

{'Pandas': '2.1.4', 'Numpy': '1.26.4', 'Seaborn': '0.12.2'}

In [4]:
with open('microdados_enem_2023\DADOS\MICRODADOS_ENEM_2023.csv') as f:
#with open('C:\Users\gabriel.bezerra\Documents\microdados_enem_2023\MICRODADOS_ENEM_2023.csv') as f:
    print(f)

<_io.TextIOWrapper name='microdados_enem_2023\\DADOS\\MICRODADOS_ENEM_2023.csv' mode='r' encoding='cp1252'>

In [5]:
# Define o número máximo de colunas a serem exibidas
pd.set_option('display.max_columns', 80)

# Define o número de casas decimais para valores em ponto flutuante
pd.set_option('display.precision', 2)

In [6]:
# Comeco
comeco = datetime.datetime.now()
print(comeco)

#df = pd.read_csv('DADOS\MICRODADOS_ENEM_2023.csv', encoding='cp1252', sep=';')
df = pd.read_csv('microdados_enem_2023\DADOS\MICRODADOS_ENEM_2023.csv', encoding='cp1252', sep=';')

# Final
final = datetime.datetime.now()
print(final)

tempo = final - comeco
tempo

2024-05-22 15:40:08.708706
2024-05-22 15:41:30.358701

datetime.timedelta(seconds=81, microseconds=649995)

# Informações Básicas do Dataframe

In [7]:
# Mostrar os primeiros dados do dataframe
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5300108,Brasília,53,DF,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,F,E,D,5,F,C,C,D,C,D,C,B,B,D,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5300108,Brasília,53,DF,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,E,E,B,3,H,A,B,C,C,A,B,B,B,A,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4305108,Caxias do Sul,43,RS,1,1,1,1,1221.0,1193.0,1204.0,1211.0,502.0,498.9,475.6,363.2,DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB,ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED,ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED,CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE,1,DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED,ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC,1.0,140.0,200.0,100.0,120.0,140.0,700.0,H,E,C,F,5,C,A,B,D,B,A,B,A,B,A,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,1.0,0,2.30e+06,Fortaleza,23.0,CE,2.0,1.0,1.0,2304400,Fortaleza,23,CE,1,1,1,1,1224.0,1192.0,1202.0,1214.0,459.0,508.5,507.2,466.7,DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC,DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED,ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA,EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB,0,CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE,DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD,1.0,140.0,200.0,160.0,180.0,200.0,880.0,D,D,B,B,5,C,A,B,B,A,A,B,A,A,A,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,1.0,0,2.31e+06,Quixadá,23.0,CE,2.0,1.0,1.0,2311306,Quixadá,23,CE,1,1,1,1,1222.0,1191.0,1201.0,1212.0,402.5,379.2,446.9,338.3,AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD,CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC,AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE,CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC,0,CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB,CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B,B,A,A,4,B,A,B,A,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A

In [8]:
# Dimmensão do dataframe
dim = df.shape
print(f'A tabela tem {dim[0]} milhões de linhas e {dim[1]} colunas')

A tabela tem 3933955 milhões de linhas e 76 colunas

In [9]:
# Informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    int64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(21), int64(18), object(37)
memory usage: 2.2+ GB

In [10]:
# Valores únicos do dataframe
df.nunique().reset_index()

              index        0
0      NU_INSCRICAO  3933955
1            NU_ANO        1
2   TP_FAIXA_ETARIA       20
3           TP_SEXO        2
4   TP_ESTADO_CIVIL        5
..              ...      ...
71             Q021        2
72             Q022        5
73             Q023        2
74             Q024        5
75             Q025        2

[76 rows x 2 columns]

In [11]:
# Valores Duplicados
df.duplicated().sum().sum()

0

# Apagar Participantes Faltantes

In [12]:
df = df.dropna(subset=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_MT', 'NU_NOTA_LC', 'NU_NOTA_REDACAO'])
df.shape

(2678264, 76)

# Adicionar Coluna Nota Total e Média

In [13]:
df['W_Nota_Total'] = df['NU_NOTA_CN'] + df['NU_NOTA_CH'] + df['NU_NOTA_LC'] + df['NU_NOTA_MT'] + df['NU_NOTA_REDACAO']
df['W_Media'] = df['W_Nota_Total'] / 5
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,W_Nota_Total,W_Media
2,210061103945,2023,6,F,1,1,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4305108,Caxias do Sul,43,RS,1,1,1,1,1221.0,1193.0,1204.0,1211.0,502.0,498.9,475.6,363.2,DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB,ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED,ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED,CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE,1,DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED,ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC,1.0,140.0,200.0,100.0,120.0,140.0,700.0,H,E,C,F,5,C,A,B,D,B,A,B,A,B,A,B,A,A,B,A,A,A,A,A,B,2539.7,507.94
3,210060214087,2023,2,F,1,3,1,2,0,2,1.0,0,2.30e+06,Fortaleza,23.0,CE,2.0,1.0,1.0,2304400,Fortaleza,23,CE,1,1,1,1,1224.0,1192.0,1202.0,1214.0,459.0,508.5,507.2,466.7,DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC,DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED,ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA,EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB,0,CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE,DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD,1.0,140.0,200.0,160.0,180.0,200.0,880.0,D,D,B,B,5,C,A,B,B,A,A,B,A,A,A,A,A,A,B,A,A,D,A,A,B,2821.4,564.28
4,210059980948,2023,3,F,1,3,1,2,0,2,1.0,0,2.31e+06,Quixadá,23.0,CE,2.0,1.0,1.0,2311306,Quixadá,23,CE,1,1,1,1,1222.0,1191.0,1201.0,1212.0,402.5,379.2,446.9,338.3,AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD,CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC,AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE,CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC,0,CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB,CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B,B,A,A,4,B,A,B,A,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A,2126.9,425.38
9,210060801601,2023,11,M,1,1,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3505906,Batatais,35,SP,1,1,1,1,1223.0,1194.0,1203.0,1213.0,564.7,630.3,610.4,680.2,CBAACDDEDEDEBCDDBACEACECECCEBBDCBEAEABCDBEADB,ABCDCBCACDBEACEBAABADAEBAADCBADBCDCEBADCDAADE,BDBBADAEDBEEACCAAADEACBBACCAEDCDAEEEBAEEDACCE,EBDDECEADDEBCCCCEACDDDCBDBDEAEABABDDCCBDCDACD,0,CEDAEEDEECCEBADCCCABBABCAACDDDACDBEABDCDBEABD,ABCDCBDACDAEACEECABADBEABADEBAABCDCABADCDAADE,BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...,EBDEEBDADDABCCBCCABBADDBDDAEAEABCBEDECADCECCB,1.0,120.0,120.0,120.0,120.0,120.0,600.0,H,E,F,D,2,F,A,B,C,B,B,B,B,B,A,B,A,B,C,B,A,C,A,B,B,3085.6,617.12
10,210059085130,2023,8,M,1,3,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2408102,Natal,24,RN,1,1,1,1,1221.0,1193.0,1204.0,1211.0,644.9,620.2,626.9,736.3,DBEEBDBBACDCABADCDAACECDBBDECDADBBECDCDDCEAAD,ACEEADAABCBAABEDBCDAECDCDBCBDAEEBDECAADDDCDDE,DBABCCABDECDCDAACADBBDBCBBACCCEEAECBBEBBACAED,BCDDCEEBCDBDAECBAEDDABDDEEDBDECADDACCEECEAACC,0,DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED,ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC,1.0,140.0,200.0,160.0,160.0,200.0,860.0,F,C,D,B,4,B,A,C,C,A,A,B,A,B,A,B,A,B,B,A,A,E,A,B,B,3488.3,697.66

# DEPOIS MUDAR

In [56]:
def qtde_questoes_acertadas(str1, str2):
    tamanho = len(str1)
    contador = 0
    for i in range(tamanho):
        if str1[i] == str2[i]:
            contador += 1
    return contador

## Ciências da Natureza

In [79]:
df_notas_cn = df[['TX_GABARITO_CN', 'TX_RESPOSTAS_CN', 'NU_NOTA_CN']]
df_notas_cn['Qtde_Questoes'] = df_notas_cn.apply(lambda row: qtde_questoes_acertadas(row['TX_GABARITO_CN'], row['TX_RESPOSTAS_CN']), axis=1)

minima = df_notas_cn.groupby('Qtde_Questoes')['NU_NOTA_CN'].min()
media = df_notas_cn.groupby('Qtde_Questoes')['NU_NOTA_CN'].mean()
maxima = df_notas_cn.groupby('Qtde_Questoes')['NU_NOTA_CN'].mean()
diferenca = maxima - minima

notas_cn = {'Minima' : minima,
        'Média' :  media,
        'Máxima' : maxima,
        'Diferenca' : diferenca}

pd.DataFrame(notas_cn)

               Minima   Média  Máxima  Diferenca
Qtde_Questoes
0                 0.0    2.05    2.05       2.05
1               322.4  338.31  338.31      15.91
2               322.4  351.35  351.35      28.95
3               323.4  363.98  363.98      40.58
4               323.4  376.39  376.39      52.99
5               323.4  388.74  388.74      65.34
6               322.7  401.02  401.02      78.32
7               318.3  414.31  414.31      96.01
8               316.1  427.90  427.90     111.80
9               320.3  442.76  442.76     122.46
10              321.8  458.47  458.47     136.67
11              324.4  474.87  474.87     150.47
12              326.1  491.85  491.85     165.75
13              327.3  509.37  509.37     182.07
14              330.3  526.85  526.85     196.55
15              327.6  543.99  543.99     216.39
16              338.3  560.55  560.55     222.25
17              339.1  576.12  576.12     237.02
18              366.0  590.15  590.15     224.15
19              363.6  602.84  602.84     239.24
20              419.7  614.12  614.12     194.42
21              463.7  624.25  624.25     160.55
22              479.0  633.39  633.39     154.39
23              504.6  641.83  641.83     137.23
24              590.0  649.69  649.69      59.69
25              600.2  657.44  657.44      57.24
26              615.2  664.66  664.66      49.46
27              630.0  671.71  671.71      41.71
28              643.7  679.06  679.06      35.36
29              649.6  685.95  685.95      36.35
30              661.1  693.18  693.18      32.08
31              667.5  700.32  700.32      32.82
32              670.5  707.54  707.54      37.04
33              686.3  715.26  715.26      28.96
34              692.5  722.91  722.91      30.41
35              700.0  731.05  731.05      31.05
36              712.1  739.29  739.29      27.19
37              719.4  747.98  747.98      28.58
38              725.4  757.35  757.35      31.95
39              738.3  767.26  767.26      28.96
40              747.2  777.97  777.97      30.77
41              763.0  790.79  790.79      27.79
42              772.1  805.38  805.38      33.28
43              783.4  823.94  823.94      40.54
44              806.1  845.19  845.19      39.09
45              868.4  868.40  868.40       0.00

## Ciências Humanas

In [78]:
df_notas_ch = df[['TX_GABARITO_CH', 'TX_RESPOSTAS_CH', 'NU_NOTA_CH']]
df_notas_ch['Qtde_Questoes'] = df_notas_ch.apply(lambda row: qtde_questoes_acertadas(row['TX_GABARITO_CH'], row['TX_RESPOSTAS_CH']), axis=1)

minima = df_notas_ch.groupby('Qtde_Questoes')['NU_NOTA_CH'].min()
media = df_notas_ch.groupby('Qtde_Questoes')['NU_NOTA_CH'].mean()
maxima = df_notas_ch.groupby('Qtde_Questoes')['NU_NOTA_CH'].mean()
diferenca = maxima - minima

notas_ch = {'Minima' : minima,
        'Média' :  media,
        'Máxima' : maxima,
        'Diferenca' : diferenca}

pd.DataFrame(notas_ch)

               Minima   Média  Máxima  Diferenca
Qtde_Questoes
0                 0.0   32.00   32.00      32.00
1               293.6  300.77  300.77       7.17
2               293.2  308.66  308.66      15.46
3               293.8  316.41  316.41      22.61
4               294.0  324.83  324.83      30.83
5               294.7  333.30  333.30      38.60
6               294.8  342.52  342.52      47.72
7               295.2  353.36  353.36      58.16
8               296.4  365.26  365.26      68.86
9               296.4  377.83  377.83      81.43
10              298.6  391.66  391.66      93.06
11              300.2  405.90  405.90     105.70
12              306.7  420.85  420.85     114.15
13              313.9  435.69  435.69     121.79
14              311.7  449.96  449.96     138.26
15              320.0  463.81  463.81     143.81
16              313.8  476.76  476.76     162.96
17              343.1  488.81  488.81     145.71
18              340.4  500.01  500.01     159.61
19              380.2  510.35  510.35     130.15
20              391.6  520.05  520.05     128.45
21              397.0  529.21  529.21     132.21
22              446.2  537.71  537.71      91.51
23              462.3  545.97  545.97      83.67
24              479.3  553.92  553.92      74.62
25              495.6  561.61  561.61      66.01
26              509.6  569.25  569.25      59.65
27              499.8  576.72  576.72      76.92
28              534.1  584.18  584.18      50.08
29              538.8  591.68  591.68      52.88
30              546.9  599.44  599.44      52.54
31              556.2  607.32  607.32      51.12
32              569.3  615.31  615.31      46.01
33              566.7  623.97  623.97      57.27
34              578.4  632.87  632.87      54.47
35              580.7  642.35  642.35      61.65
36              600.0  652.76  652.76      52.76
37              608.3  663.85  663.85      55.55
38              620.3  675.98  675.98      55.68
39              630.8  689.13  689.13      58.33
40              647.5  704.08  704.08      56.58
41              664.9  720.85  720.85      55.95
42              679.2  740.08  740.08      60.88
43              706.8  762.75  762.75      55.95
44              743.1  791.11  791.11      48.01
45              823.0  823.00  823.00       0.00

## Matemática e Suas Tecnologias

In [80]:
df_notas_mt = df[['TX_GABARITO_MT', 'TX_RESPOSTAS_MT', 'NU_NOTA_MT']]
df_notas_mt['Qtde_Questoes'] = df_notas_mt.apply(lambda row: qtde_questoes_acertadas(row['TX_GABARITO_MT'], row['TX_RESPOSTAS_MT']), axis=1)

minima = df_notas_mt.groupby('Qtde_Questoes')['NU_NOTA_MT'].min()
media = df_notas_mt.groupby('Qtde_Questoes')['NU_NOTA_MT'].mean()
maxima = df_notas_mt.groupby('Qtde_Questoes')['NU_NOTA_MT'].mean()
diferenca = maxima - minima

notas_mt = {'Minima' : minima,
        'Média' :  media,
        'Máxima' : maxima,
        'Diferenca' : diferenca}

pd.DataFrame(notas_mt)

               Minima   Média  Máxima  Diferenca
Qtde_Questoes
0                 0.0    4.31    4.31       4.31
1               319.8  335.68  335.68      15.88
2               323.7  341.56  341.56      17.86
3               321.1  348.38  348.38      27.28
4               322.1  355.84  355.84      33.74
5               320.7  365.46  365.46      44.76
6               321.8  376.05  376.05      54.25
7               322.7  388.05  388.05      65.35
8               322.7  402.04  402.04      79.34
9               327.6  417.73  417.73      90.13
10              325.5  435.57  435.57     110.07
11              331.1  455.66  455.66     124.56
12              332.0  477.37  477.37     145.37
13              332.2  500.51  500.51     168.31
14              335.8  524.59  524.59     188.79
15              343.2  548.03  548.03     204.83
16              341.2  570.92  570.92     229.72
17              349.7  591.96  591.96     242.26
18              374.8  611.25  611.25     236.45
19              388.5  628.62  628.62     240.12
20              408.0  644.53  644.53     236.53
21              446.8  658.51  658.51     211.71
22              507.2  671.41  671.41     164.21
23              554.4  683.28  683.28     128.88
24              573.9  694.69  694.69     120.79
25              624.2  705.31  705.31      81.11
26              640.6  715.63  715.63      75.03
27              642.0  725.69  725.69      83.69
28              666.4  735.41  735.41      69.01
29              689.4  745.44  745.44      56.04
30              696.0  755.31  755.31      59.31
31              708.8  765.43  765.43      56.63
32              729.1  775.82  775.82      46.72
33              730.1  786.25  786.25      56.15
34              753.7  797.46  797.46      43.76
35              767.2  808.65  808.65      41.45
36              782.3  820.39  820.39      38.09
37              794.7  832.34  832.34      37.64
38              801.9  845.71  845.71      43.81
39              821.3  859.52  859.52      38.22
40              833.4  874.51  874.51      41.11
41              854.1  890.86  890.86      36.76
42              870.5  908.31  908.31      37.81
43              891.9  928.15  928.15      36.25
44              917.8  946.17  946.17      28.37
45              958.6  958.60  958.60       0.00

## Linguagens e Suas Tecnologias - MUDAR

A string do gabarito de LC tem 50 caracteres, enquanto o cartão resposta tem 45 caracteres. Isso se deve ao fato de que há o gabarito para a língua inglesa e para a língua espanhola. Para corrigir esse erro, é necessário criar uma condicional onde, quando for inglês, apague os itens do 6 ao 10, e quando for espanhol, apague os itens do 1 ao 5.

In [92]:
len(df_notas_lc['TX_GABARITO_LC'].max())

50

In [96]:
len(df_notas_lc['TX_RESPOSTAS_LC'].max())

45

In [99]:
def qtde_questoes_acertadas(str1, str2):
    tamanho = len(str2)
    contador = 0
    for i in range(tamanho):
        if str1[i] == str2[i]:
            contador += 1
    return contador

df_notas_lc = df[['TX_GABARITO_LC', 'TX_RESPOSTAS_LC', 'NU_NOTA_LC']]
df_notas_lc['Qtde_Questoes'] = df_notas_lc.apply(lambda row: qtde_questoes_acertadas(row['TX_GABARITO_LC'], row['TX_RESPOSTAS_LC']), axis=1)

minima = df_notas_lc.groupby('Qtde_Questoes')['NU_NOTA_LC'].min()
media = df_notas_lc.groupby('Qtde_Questoes')['NU_NOTA_LC'].mean()
maxima = df_notas_lc.groupby('Qtde_Questoes')['NU_NOTA_LC'].mean()
diferenca = maxima - minima

notas_lc = {'Minima' : minima,
        'Média' :  media,
        'Máxima' : maxima,
        'Diferenca' : diferenca}

pd.DataFrame(notas_lc)

               Minima   Média  Máxima  Diferenca
Qtde_Questoes
0                 0.0   83.55   83.55      83.55
1               287.2  339.80  339.80      52.60
2               287.2  412.09  412.09     124.89
3               287.2  448.37  448.37     161.17
4               287.2  465.79  465.79     178.59
5               287.2  475.57  475.57     188.37
6               287.2  483.98  483.98     196.78
7               287.9  490.40  490.40     202.50
8               287.4  496.51  496.51     209.11
9               287.2  503.48  503.48     216.28
10              287.7  511.54  511.54     223.84
11              287.0  519.98  519.98     232.98
12              287.2  528.75  528.75     241.55
13              287.4  537.37  537.37     249.97
14              288.2  546.91  546.91     258.71
15              288.7  556.54  556.54     267.84
16              288.1  565.75  565.75     277.65
17              288.8  572.20  572.20     283.40
18              288.0  572.94  572.94     284.94
19              288.9  561.68  561.68     272.78
20              287.9  526.29  526.29     238.39
21              288.4  475.28  475.28     186.88
22              289.2  412.36  412.36     123.16
23              290.5  386.19  386.19      95.69
24              294.1  376.76  376.76      82.66
25              292.7  375.71  375.71      83.01
26              289.9  362.80  362.80      72.90
27              289.7  373.55  373.55      83.85
28              292.3  370.59  370.59      78.29
29              294.7  381.84  381.84      87.14
30              303.7  381.36  381.36      77.66
31              295.1  378.60  378.60      83.50
32              329.7  387.34  387.34      57.64
33              351.7  386.69  386.69      34.99
34              298.8  359.14  359.14      60.34
35              367.3  397.98  397.98      30.68
36              372.8  372.80  372.80       0.00
37              395.1  395.10  395.10       0.00
40              359.0  359.00  359.00       0.00

In [106]:
df_notas_lc = df[['TP_LINGUA','TX_GABARITO_LC', 'TX_RESPOSTAS_LC', 'NU_NOTA_LC']]
df_notas_lc

,TP_LINGUA,TX_GABARITO_LC,TX_RESPOSTAS_LC,NU_NOTA_LC
2,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED,475.6
3,0,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA,507.2
4,0,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE,446.9
9,0,BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...,BDBBADAEDBEEACCAAADEACBBACCAEDCDAEEEBAEEDACCE,610.4
10,0,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,DBABCCABDECDCDAACADBBDBCBBACCCEEAECBBEBBACAED,626.9
...,...,...,...,...
3933946,0,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,BCDABDECEEDCCDBBDBDCDCDEBAACCAEDABACDAECBEAAE,598.2
3933948,0,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,BCBDBBBAAEDDEABBACBBDABEACAEEBBEABBAABEDEDDAC,545.2
3933950,0,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEABBAAACECDEDAECADBADECEDACCAEAABCBBEBBACEEA,613.7
3933951,0,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,ABABBBACCACDEDAADADBBDCCCBACCBEAAEDBBEBBEBAED,610.6
3933953,0,BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...,CDBBACAEDBBEACDBBBABACBBACCAEDCADACDBAECACBBB,536.0

In [112]:
# Ingles
df_notas_lc.loc[df_notas_lc['TP_LINGUA'] == 0]

,TP_LINGUA,TX_GABARITO_LC,TX_RESPOSTAS_LC,NU_NOTA_LC
3,0,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA,507.2
4,0,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE,446.9
9,0,BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...,BDBBADAEDBEEACCAAADEACBBACCAEDCDAEEEBAEEDACCE,610.4
10,0,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,DBABCCABDECDCDAACADBBDBCBBACCCEEAECBBEBBACAED,626.9
11,0,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,BBBDACBEEEDBACEBECABCACCAAABCBBEBCCEDDBACDDAC,607.9
...,...,...,...,...
3933946,0,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,BCDABDECEEDCCDBBDBDCDCDEBAACCAEDABACDAECBEAAE,598.2
3933948,0,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,BCBDBBBAAEDDEABBACBBDABEACAEEBBEABBAABEDEDDAC,545.2
3933950,0,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEABBAAACECDEDAECADBADECEDACCAEAABCBBEBBACEEA,613.7
3933951,0,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,ABABBBACCACDEDAADADBBDCCCBACCBEAAEDBBEBBEBAED,610.6
3933953,0,BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...,CDBBACAEDBBEACDBBBABACBBACCAEDCADACDBAECACBBB,536.0

In [114]:
# Espanhol
teste = df_notas_lc.loc[df_notas_lc['TP_LINGUA'] == 1]
teste

,TP_LINGUA,TX_GABARITO_LC,TX_RESPOSTAS_LC,NU_NOTA_LC
2,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED,475.6
14,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEBABAADDECDEAAECADDBDCCCBACCDEDADBBBEBAACAEB,593.7
15,1,BDBBABAAAEAAECBBEAACAAACEACBCACCCEDEDADBDBEEDD...,CBCADEAEBCBBEEECCCCDDDABEBCEDAAADCBDECECCBEBC,388.5
17,1,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,ABEBCDBEAEDBEEDBAEABACBEEDEBAECCBEEEEAAEBAEAE,452.8
20,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEBADABCDEBDACDACACBBDACEDAECAEAABCBBEAAECAED,576.0
...,...,...,...,...
3933931,1,BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...,CAEDCAABAEDBCDBBDADEDCADEBACBBBCBDAADAAECECAE,525.4
3933932,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEBAAAACCAAEDDAACADBADABABACCAEAAECBBEBBADAED,634.1
3933936,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEBABBBDCECDCAAACADBBCEBDAEDCBEEAECBBEBDACAED,560.2
3933937,1,DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...,AEBBAACDDACDCDAEEADBADBCAEAEAEAEABECBEBBDCAED,570.7
3933945,1,BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...,BAAEACBEAEDAACBBABCAEBACACADCBBEDBADBEBDBDAAC,571.0

In [123]:
string1 = teste['TX_GABARITO_LC'].iloc[0]
string1

'DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCACEED'

In [127]:
string_apagada =  string1[5:]
string_apagada

'AEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCACEED'

# Todos os Participantes

### Gênero

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

# Plotar Gráfico
ax = sns.countplot(df, x="TP_SEXO", color='#1e90ff')

# Adicionar Titulo
ax.set_title('Gênero - Todos os Participantes - ENEM 2023', loc='left', fontsize=12)

# Remover a legenda dos Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1], ['Mulher', 'Homem'])

# Total
total = df['TP_SEXO'].count()

# Total
total = df['TP_COR_RACA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Estado Civil

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="TP_ESTADO_CIVIL", color='#1e90ff')
#palette='Greys'

# Adicionar Titulo
ax.set_title('Estado Civil - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
plt.yticks([])
plt.xticks([0, 1, 2, 3, 4], ['Não Informado', 'Solteiro', 'Casado', 'Divorciado', 'Viuvo'])

# Total
total = df['TP_ESTADO_CIVIL'].count()

# Total
total = df['TP_COR_RACA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Nacionalidade

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="TP_NACIONALIDADE", color='#1e90ff')
#palette='Greys'

# Adicionar Titulo
ax.set_title('Nacionalidade - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0,1,2,3,4], ['Não Informado', 'Brasileiro', 'Naturalizado', 'Estrangeiro', 'Nascido no Exterior'])

# Total
total = df['TP_NACIONALIDADE'].count()

# Total
total = df['TP_COR_RACA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Raça

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="TP_COR_RACA", color='#1e90ff')
#palette='Greys'

# Adicionar Titulo
ax.set_title('Raça - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1, 2, 3, 4, 5, 6], ['Não Declarada', 'Branca', 'Preta', 'Parda', 'Amarela', 'Índigena', 'NaN'])

# Total
total = df['TP_COR_RACA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Tipo de Escola

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="TP_ESCOLA", color='#1e90ff')
#palette='Greys'

# Adicionar Titulo
ax.set_title('Tipo de Escola - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1, 2], ['Não Declarada', 'Pública', 'Privada'])

# Total
total = df['TP_ESCOLA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Treineiros

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="IN_TREINEIRO", color='#1e90ff')

# Adicionar Titulo
ax.set_title('Treineiros - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1], ['Não', 'Sim'])

# Total
total = df['IN_TREINEIRO'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Dependência Administrativa

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="TP_DEPENDENCIA_ADM_ESC", color='#1e90ff')

# Adicionar Titulo
ax.set_title('Dependëncia Administrativa da Escola - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1, 2, 3], ['Fderal', 'Estadual', 'Municipal', 'Privada'])

# Total
total = df['TP_DEPENDENCIA_ADM_ESC'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Localização da Escola

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df, x="TP_LOCALIZACAO_ESC", color='#1e90ff')

# Adicionar Titulo
ax.set_title('Localização da Escola - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1], ['Urbana', 'Rural'])

# Total
total = df['TP_LOCALIZACAO_ESC'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Participantes por Estado

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(15,6))

ax = sns.countplot(df, x="SG_UF_PROVA", color='#1e90ff', order=df['SG_UF_PROVA'].value_counts().index)

# Adicionar Titulo
ax.set_title('Participante por Estado - Todos os Participantes  - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
#plt.xticks([0, 1], ['Urbana', 'Rural'])

# Total
total = df['SG_UF_PROVA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0, y=0.2)

# Visualizar o gráfico
plt.show()

In [ ]:
df['W_Media'].mean()

In [ ]:
df2['W_Media'].mean()

In [ ]:

sns.histplot(data=df, x="W_Media", bins=30)

# 1% Mais Altas

In [ ]:
# Separar as média 1% mais altas

df2 = df.sort_values(by='W_Media', ascending=False).head(int(df.shape[0]*0.01))
df2

### Gênero

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

# Plotar Gráfico
ax = sns.countplot(df2, x="TP_SEXO", color='#1e90ff')

# Adicionar Titulo
ax.set_title('Gênero - 1% dos Participantes - ENEM 2023', loc='left', fontsize=12)

# Remover a legenda dos Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1], ['Mulher', 'Homem'])

# Total
total = df2['TP_SEXO'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Estado Civil

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df2, x="TP_ESTADO_CIVIL", color='#1e90ff')
#palette='Greys'

# Adicionar Titulo
ax.set_title('Estado Civil - 1% dos Participantes - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
plt.yticks([])
plt.xticks([0, 1, 2, 3, 4], ['Não Informado', 'Solteiro', 'Casado', 'Divorciado', 'Viuvo'])

# Total
total = df2['TP_ESTADO_CIVIL'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Raça

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(9,6))

ax = sns.countplot(df2, x="TP_COR_RACA", color='#1e90ff')
#palette='Greys'

# Adicionar Titulo
ax.set_title('Raça - 1% dos Participantes - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
plt.xticks([0, 1, 2, 3, 4, 5, 6], ['Não Declarada', 'Branca', 'Preta', 'Parda', 'Amarela', 'Índigena', 'NaN'])

# Total
total = df2['TP_COR_RACA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0.1, y=0.2)

# Visualizar o gráfico
plt.show()

### Participantes por Estado

In [ ]:
# Tamanho do Gráfico
plt.figure(figsize=(15,6))

ax = sns.countplot(df2, x="SG_UF_PROVA", color='#1e90ff', order=df2['SG_UF_PROVA'].value_counts().index)

# Adicionar Titulo
ax.set_title('Participante por Estado - 1% dos Participantes - ENEM 2023', loc='left', fontsize=12)

# Remover os Eixos
ax.set_xlabel('')
ax.set_ylabel('')

# Remover Gird
ax.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Remover Legenda
plt.yticks([])
# Modificar Legenda
#plt.xticks([0, 1], ['Urbana', 'Rural'])

# Total
total = df2['SG_UF_PROVA'].count()

# Adicionar anotações nas barras
ax.bar_label(ax.containers[0], fmt=lambda x: f'{(x/total)*100:0.1f}%')

# Adicionar margens
ax.margins(x=0, y=0.2)

# Visualizar o gráfico
plt.show()

# Notas

Comparar a média de todos os participantes com os participantes que estão entre 1% com a média mais alta

### Nota Média

In [ ]:
# Tamanho do Gráfico
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6))

# 
ax1 = sns.histplot(data=df, x="W_Media", bins=30, ax=ax1)


# Adicionar Titulo
ax1.set_title('NOTA MÉDIA - TODOS OS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax1.axvline(df['W_Media'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax1.set_xlabel('')
ax1.set_ylabel('')

# Remover Gird
ax1.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax1.yaxis.set_ticks([])

# Adicionar margens
ax1.margins(x=0.1, y=0.2)

#
ax2 = sns.histplot(data=df2, x="W_Media", bins=30, ax=ax2)

# Adicionar Titulo
ax2.set_title('NOTA MÉDIA - 1% DOS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax2.axvline(df2['W_Media'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax2.set_xlabel('')
ax2.set_ylabel('')

# Remover Gird
ax2.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax2.yaxis.set_ticks([])

# Adicionar margens
ax2.margins(x=0.1, y=0.1)

# Visualizar o gráfico
plt.show()

### Nota em Matemática e Suas Tecnologias

In [ ]:
# Tamanho do Gráfico
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6))

# 
ax1 = sns.histplot(data=df, x="NU_NOTA_MT", bins=30, ax=ax1)


# Adicionar Titulo
ax1.set_title('NOTA MÉDIA - TODOS OS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax1.axvline(df['NU_NOTA_MT'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax1.set_xlabel('')
ax1.set_ylabel('')

# Remover Gird
ax1.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax1.yaxis.set_ticks([])

# Adicionar margens
ax1.margins(x=0.1, y=0.2)

#
ax2 = sns.histplot(data=df2, x="NU_NOTA_MT", bins=30, ax=ax2)

# Adicionar Titulo
ax2.set_title('NOTA MÉDIA - 1% DOS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax2.axvline(df2['NU_NOTA_MT'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax2.set_xlabel('')
ax2.set_ylabel('')

# Remover Gird
ax2.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax2.yaxis.set_ticks([])

# Adicionar margens
ax2.margins(x=0.1, y=0.1)

# Visualizar o gráfico
plt.show()

### Nota em Ciências da Natureza

In [ ]:
# Tamanho do Gráfico
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6))

# 
ax1 = sns.histplot(data=df, x="NU_NOTA_CN", bins=30, ax=ax1)

# Adicionar Titulo
ax1.set_title('NOTA MÉDIA - TODOS OS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax1.axvline(df['NU_NOTA_CN'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax1.set_xlabel('')
ax1.set_ylabel('')

# Remover Gird
ax1.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax1.yaxis.set_ticks([])

# Adicionar margens
ax1.margins(x=0.1, y=0.2)

#
ax2 = sns.histplot(data=df2, x="NU_NOTA_CN", bins=30, ax=ax2)

# Adicionar Titulo
ax2.set_title('NOTA MÉDIA - 1% DOS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax2.axvline(df2['NU_NOTA_CN'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax2.set_xlabel('')
ax2.set_ylabel('')

# Remover Gird
ax2.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax2.yaxis.set_ticks([])

# Adicionar margens
ax2.margins(x=0.1, y=0.1)

# Visualizar o gráfico
plt.show()

### Nota em Ciências Humanas

In [ ]:
# Tamanho do Gráfico
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6))

# 
ax1 = sns.histplot(data=df, x="NU_NOTA_CH", bins=30, ax=ax1)

# Adicionar Titulo
ax1.set_title('NOTA MÉDIA - TODOS OS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax1.axvline(df['NU_NOTA_CH'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax1.set_xlabel('')
ax1.set_ylabel('')

# Remover Gird
ax1.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax1.yaxis.set_ticks([])

# Adicionar margens
ax1.margins(x=0.1, y=0.2)

#
ax2 = sns.histplot(data=df2, x="NU_NOTA_CH", bins=30, ax=ax2)

# Adicionar Titulo
ax2.set_title('NOTA MÉDIA - 1% DOS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax2.axvline(df2['NU_NOTA_CH'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax2.set_xlabel('')
ax2.set_ylabel('')

# Remover Gird
ax2.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax2.yaxis.set_ticks([])

# Adicionar margens
ax2.margins(x=0.1, y=0.1)

# Visualizar o gráfico
plt.show()

### Nota em Linguagem e Suas Tecnologias

In [ ]:
# Tamanho do Gráfico
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6))

# 
ax1 = sns.histplot(data=df, x="NU_NOTA_LC", bins=30, ax=ax1)


# Adicionar Titulo
ax1.set_title('NOTA MÉDIA - TODOS OS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax1.axvline(df['NU_NOTA_LC'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax1.set_xlabel('')
ax1.set_ylabel('')

# Remover Gird
ax1.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax1.yaxis.set_ticks([])

# Adicionar margens
ax1.margins(x=0.1, y=0.2)

#
ax2 = sns.histplot(data=df2, x="NU_NOTA_LC", bins=30, ax=ax2)

# Adicionar Titulo
ax2.set_title('NOTA MÉDIA - 1% DOS PARTICIPANTES', loc='left', fontsize=12)

# Adicionar linha da média
ax2.axvline(df2['NU_NOTA_LC'].mean(), color='black', linestyle='--', linewidth=2)

# Remover os Eixos
ax2.set_xlabel('')
ax2.set_ylabel('')

# Remover Gird
ax2.spines[['right', 'left', 'top', 'bottom']].set_visible(False)

# Legendas
ax2.yaxis.set_ticks([])

# Adicionar margens
ax2.margins(x=0.1, y=0.1)

# Visualizar o gráfico
plt.show()